<app-menu-title blogTitle="Adventure Time"></app-menu-title>

<div class="container__articles">

  <div class="container__articles-main">
    <app-big-card id="0" imgCover="https://www.looper.com/img/gallery/things-you-never-noticed-in-the-first-adventure-time-episode/intro-1615252241.jpg"
                  imgAlt="Finn" 
                  bigCardTitle="Finn, o humano."
                  cardDescription="Finn, também conhecido como Finn, o Humano, é o protagonista central da série. Ele é um jovem herói corajoso e aventureiro, conhecido por sua determinação em fazer o que é certo e proteger seus amigos e o Reino Doce.">
    </app-big-card>
  </div>

  <div class="container__others">

    <app-small-card id="1" imgCover="https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Jake.Adventure-Time.webp"
                    imgAlt="Jake" 
                    smallCardTitle="Jake, o irmão adotivo de Finn e seu melhor amigo.">
    </app-small-card>

    <div class="separator">
      <hr>
    </div>

    <app-small-card id="2" imgCover="https://s.aficionados.com.br/imagens/princesa-jujuba-concerto.jpg"
                    imgAlt="Princesa Jujuba" 
                    smallCardTitle="Princesa Jujuba, governante do Reino Doce.">
    </app-small-card>

    <div class="separator">
      <hr>
    </div>

    <app-small-card id="3" imgCover="https://upload.wikimedia.org/wikipedia/en/4/48/Adventure_Time_-_Marceline.png"
                    imgAlt="Marceline" 
                    smallCardTitle="Marceline, a Rainha dos Vampiros.">
    </app-small-card>  
  </div>
</div>
