<div class="container__big-card">
    <div class="big-card__img">
        <img src="https://t4.ftcdn.net/jpg/05/17/53/57/360_F_517535712_q7f9QC9X6TQxWi6xYZZbMmw5cnLMr279.jpg" 
             alt="Place Holder">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h1>
        
    </div>
    <div class="big-description">
        <p>Voluptate exercitationem facere rerum, maxime ab iusto, quis laudantium officiis, praesentium voluptatum ullam? Ab excepturi, aliquam facere itaque perspiciatis eligendi obcaecati nemo. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
</div>
