<h1>My card</h1>
<p>card works!</p>
<button>Create card</button>
<ul>
    <li *ngFor="let p of produtos; let i = index" (click)="remover(i)"> {{ i }} - {{ p }} </li>
    <button (click)="adicionar()">Adicionar</button>
</ul>

<div [ngSwitch]="menuType">
    <div *ngSwitchDefault>
        <ul>
            <li>Editar perfil</li>
            <li>Adicionar cartão</li>
        </ul>
    </div>
    <div *ngSwitchCase="'admin'">
        <ul>
            <li>Editar perfil</li>
            <li>Adicionar cartão</li>
            <li>Gerenciar usuários</li>
        </ul>
    </div>
    <div *ngSwitchCase="'root'">
        <ul>
            <li>Editar perfil</li>
            <li>Adicionar cartão</li>
            <li>Gerenciar usuários</li>
            <li>Gerenciar admins</li>
        </ul>
    </div>
</div>
 