<div class="container__menu-bar">
  <div class="container__menu-bar-perfil">
    <h1>D</h1>
  </div>
  <div class="container__menu-bar-list">
    <ul>
      <li><a href="#">Learn</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Bookmarks</a></li>
      <li><a href="#">UI Kit</a></li>
      <li><a href="#">Lain Nya</a></li>
    </ul>
  </div>
  <div class="container__menu-bar-icons">
    <ul>
      <li>
        <a href="#">
          <span class="material-symbols-outlined">
            mail
          </span>
        </a>
        <li>
            <a href="#">
              <span class="material-symbols-outlined">
                call
              </span>
            </a>
      </li>
      
    </ul>
  </div>
</div>
